{% extends "base.html" %}
{% load static %}
{% block content %}
<title>Sarmiento Librerias</title>
{% block base_head %}
<link rel="stylesheet" href="{% static 'css/main.css' %}"/>
{% endblock base_head %}
<div class="text-center">
    <!--Top_content-->
	<section id="top_content" class="top_cont_outer">
		<div class="top_cont_inner">
			<div class="container">
				<div class="top_content">
					<div class="row">
						<div class="col-lg-5 col-sm-7">
                            <div class="logo">
                                     <a href="javascript:void(0)"><img src="{% static 'img/IMG_1825.PNG' %}" width="32%" height="32%" alt=""></a>
                                 </div>
							<div class="top_left_cont flipInY wow animated">

								<h3>Librería &amp; artística!</h3>
								<h2>Sarmiento Librerias</h2>
								<p> Tienda de suministros escolares, universitarios, de oficina y artística en Córdoba </p>
								<a href="#service" class="learn_more2">Mas sobre Nosotros</a> </div>
						</div>
						<div class="col-lg-7 col-sm-5"> </div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--Top_content-->
    {% include 'marcas.html' %}
    <!--Service-->
    {% include 'services.html' %}
	<!--Service-->
    <!-- Portfolio -->
    {% include 'portfolio_instagram.html' %}
    <!-- Portfolio -->
    <!-- Clients -->
    {% include 'reviews.html' %}
    <!-- Clients -->
    <!-- Contact -->
    {% include 'footer.html' %}
</div>
<script type="text/javascript">
    $(document).ready(function(e) {
        $('#header_outer').scrollToFixed();
        $('.res-nav_click').click(function() {
            $('.main-nav').slideToggle();
            return false

        });

    });
</script>
<script>
    wow = new WOW({
        animateClass: 'animated',
        offset: 100
    });
    wow.init();
    document.getElementById('').onclick = function() {
        var section = document.createElement('section');
        section.className = 'wow fadeInDown';
        section.className = 'wow shake';
        section.className = 'wow zoomIn';
        section.className = 'wow lightSpeedIn';
        this.parentNode.insertBefore(section, this);
    };
</script>
<script type="text/javascript">
    $(window).load(function() {

        $('a').bind('click', function(event) {
            var $anchor = $(this);

            $('html, body').stop().animate({
                scrollTop: $($anchor.attr('href')).offset().top - 91
            }, 1500, 'easeInOutExpo');
            /*
            if you don't want to use the easing effects:
            $('html, body').stop().animate({
                scrollTop: $($anchor.attr('href')).offset().top
            }, 1000);
            */
            event.preventDefault();
        });
    })
</script>

<script type="text/javascript">
    jQuery(document).ready(function($) {
        // Portfolio Isotope
        var container = $('#portfolio-wrap');


        container.isotope({
            animationEngine: 'best-available',
            animationOptions: {
                duration: 200,
                queue: false
            },
            layoutMode: 'fitRows'
        });

        $('#filters a').click(function() {
            $('#filters a').removeClass('active');
            $(this).addClass('active');
            var selector = $(this).attr('data-filter');
            container.isotope({
                filter: selector
            });
            setProjects();
            return false;
        });


        function splitColumns() {
            var winWidth = $(window).width(),
                columnNumb = 1;


            if (winWidth > 1024) {
                columnNumb = 4;
            } else if (winWidth > 900) {
                columnNumb = 2;
            } else if (winWidth > 479) {
                columnNumb = 2;
            } else if (winWidth < 479) {
                columnNumb = 1;
            }

            return columnNumb;
        }

        function setColumns() {
            var winWidth = $(window).width(),
                columnNumb = splitColumns(),
                postWidth = Math.floor(winWidth / columnNumb);

            container.find('.portfolio-item').each(function() {
                $(this).css({
                    width: postWidth + 'px'
                });
            });
        }

        function setProjects() {
            setColumns();
            container.isotope('reLayout');
        }

        container.imagesLoaded(function() {
            setColumns();
        });


        $(window).bind('resize', function() {
            setProjects();
        });

    });
    $(window).load(function() {
        jQuery('#all').click();
        return false;
    });
</script>

{% endblock %}