{% extends 'products/products_base.html' %}
{% load staticfiles %}
{% block content %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
    <script>
    $(document).ready(function() {
        $('#table_id').DataTable(
            {
                "processing": true,
                "ajax":
                    {
                        "type": 'POST',
                        "url": '/products/json/',
                        "contentType": 'application/json',
                        "dataType": 'json',
                        "headers": {'X-CSRFToken': '{{ csrf_token }}'},
                        'data': function (data) {
                            return data = JSON.stringify(data);
                        }
                    },
                "columns": [
                    {"data": "provider_code"},
                    {"data": "title"},
                    {"data": "provider"},
                    {"data": "provider_price"},
                    {"data": "retailer_price"},
                    {"data": "wholesaler_price"},
                    {"data": "updated"},
                ],
                "aoColumnDefs": [{
                    "aTargets": [3],
                    "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                            $(nTd).css('background-color', '#FFAE9D');
                            $(nTd).css("font-weight", "bold");
                            $(nTd).css("text-align", "center");
                            }
                },
                    {
                    "aTargets": [4],
                    "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                            $(nTd).css('background-color', '#9DF6FF');
                            $(nTd).css("font-weight", "bold");
                            $(nTd).css("text-align", "center");
                            }
                },
                    {
                    "aTargets": [5],
                    "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                            $(nTd).css('background-color', '#F1FF9C');
                            $(nTd).css("font-weight", "bold");
                            $(nTd).css("text-align", "center");
                            }
                    }
                ]
            }
        );
    } );
    </script>
    <h1>Products</h1>
    <div class="container">
    <div class="row">
        <div class="col-12">
            <table id="table_id" class="display">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Descripcion</th>
                        <th>Proveedor</th>
                        <th bgcolor="#FFAE9D">Precio Lista</th>
                        <th bgcolor="#9DF6FF">Precio Minorista</th>
                        <th bgcolor="#F1FF9C">Precio Mayorista</th>
                        <th>Ultima Actualizacion</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    </div>
{% endblock %}