{% extends 'products/products_base.html' %}
{% load static %}
{% block content %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script>
    $(document).ready( function () {
        $('#table_id').DataTable();
    });
</script>
    <h1>Products</h1>
    <div class="container">
    <div class="row">
        <div class="col-12">
            <table id="table_id" class="display">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Descripcion</th>
                        <th>Proveedor</th>
                        <th>Precio Proveedor</th>
                        <th>Ultima Actualizacion</th>
                    </tr>
                </thead>
                <tbody>
                {% for object in all_objects %}
                    <tr>
                        <td>{{ object.provider_code }}</td>
                        <td>{{ object.title }}</td>
                        <td>{% if object.provider|slugify == 1|slugify %}ARTEC{% elif object.provider|slugify == 2|slugify %}MONTENEGRO{% else %}FREIBERG{% endif %}</td>
                        <td>{{ object.provider_price }}</td>
                        <td>{{ object.updated }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    </div>
{% endblock %}