{% extends 'products/products_base.html' %}
{% load staticfiles %}
{% block content %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script>
    $(document).ready(function() {
        var data = [];
        {% for object in all_objects %}
        data.push( [ "{{ object.provider_code }}",
            "{{ object.title }}",
            {% if object.provider|slugify == 1|slugify %}
                    "ARTEC"
                {% elif object.provider|slugify == 2|slugify %}
                    "MONTENEGRO"
                {%elif object.provider|slugify == 3|slugify %}
                    "AUDITOR"
                {% else %}
                    "FREIBERG"
            {% endif %},
            {{ object.provider_price }},
            {{  object.retailer_price }},
            {{ object.wholesaler_price }},
        "{{ object.updated }}" ] );
        {% endfor %}
        var table = $('#table_id').DataTable( {
            data:           data,
        });
        table.rows().every( function ( rowIdx, tableLoop, rowLoop ) {
        var cell = table.cell({ row: rowIdx, column: 3 }).node();
        $(cell).css('background-color', '#FFAE9D');
        $(cell).css('font-weight', 'bold');
        $(cell).css('text-align', 'center');
        });
        table.rows().every( function ( rowIdx, tableLoop, rowLoop ) {
            var cell = table.cell({row: rowIdx, column: 4}).node();
            $(cell).css('background-color', '#9DF6FF');
            $(cell).css('font-weight', 'bold');
            $(cell).css('text-align', 'center');
        });
        table.rows().every( function ( rowIdx, tableLoop, rowLoop ) {
            var cell = table.cell({row: rowIdx, column: 5}).node();
            $(cell).css('background-color', '#F1FF9C');
            $(cell).css('font-weight', 'bold');
            $(cell).css('text-align', 'center');
        });
    } );
    </script>
    <h1>Products</h1>
    <div class="container">
    <div class="row">
        <div class="col-12">
            <table id="table_id" class="display">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Descripcion</th>
                        <th>Proveedor</th>
                        <th bgcolor="#FFAE9D">Precio Proveedor</th>
                        <th bgcolor="#9DF6FF">Precio Minorista</th>
                        <th bgcolor="#F1FF9C">Precio Mayorista</th>
                        <th>Ultima Actualizacion</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    </div>
{% endblock %}